@model IEnumerable<FFC.Models.ViewModel.WishView>

@{
    ViewBag.Title = "Wish lists";
}
<script src="~/Scripts/common.js" type="text/javascript"></script>
<h2></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wish.LastUpdatedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wish.LastUpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Approve", "Approve", new { id = item.Wish.ID }, new { @class = "Approvallink", itemid = item.Wish.ID, status =item.Wish.Status}) |
                @Html.ActionLink("Cancel", "Approve", new { id = item.Wish.ID }, new { @class = "Cancellink", itemid = item.Wish.ID, status = item.Wish.Status })
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(document).ready(function(){
            $('.Approvallink').click(function (event) {
                event.preventDefault();
                var id = this.attributes["itemid"].value;
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Content("~/Wish/Approve")',
                        data: { id:id}
                    }
                    )
                .done(function()
                {
                    document.location.reload();
                })
                
            });

            $('.Cancellink').click(function (event)
            {
            if (this.attributes['status'].value != "Approved") {
                    alert("This wish has already been canceled");
                    return false;
                }
            event.preventDefault();
                var id = this.attributes['itemid'].value;
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Content("~/Wish/Disapprove")',
                        data: {id:id}

                    })
                .done(function()
                {
                    document.location.reload();
                }
                )
            })
        });

    </script>


}