@model IEnumerable<FFC.Models.ViewModel.WishView>
@using DataModel;

@{
    ViewBag.Title = "Wish lists";
    //var users = ((IEnumerable<User>)ViewBag.userlist);
    //var userlist = (from u in users
    //               select new SelectListItem{ Text = u.Name, Value = u.ID.ToString(), Selected = false }).ToList();
    //userlist.Insert(0, new SelectListItem { Text = "-- select --", Value = "", Selected = true });
}
<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <table style="width:750px;">
            <tr>
                <td style="width:100px">User:</td>
                <td style="width:150px"><select name="UserID" id="userlist" style="width:140px"></select></td>
                <td style="width:100px">Status:</td>
                <td style="width:150px"><select name="Status" style="width:140px"><option value="">---Select---</option><option value="1">New</option><option value="2">Approved</option><option value="3">Disapproved</option></select></td>
                <td style="width:80px">Item:</td>
                <td style="width:170px"><input name="Item" type="text" value='@ViewData["Item"]' /></td>
            </tr>
            <tr><td style="width:100px">Start Date:</td>
            <td style="width:150px"><input type="text" name="StartDate" id="Startdate" style="width:140px"></td>
            <td style="width:100px">End Date:</td><td style="width:150px"><input type="text" name="EndDate" id="Enddate" style="width:140px"></td>
             <td style="width:240px" colspan="3"><input id="btnSubmit" type="submit" value="submit" style="width:100px" /></td>
           </tr>
        </table>
    </div>
}
<br />
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" cellspacing="0" style="width:100%" id="table-pagination">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wish.Date)
                        </th>
                        <th>                                                                                                                                     
                            @Html.DisplayNameFor(model => model.Wish.Item)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wish.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wish.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wish.LastUpdate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Wish.LastUpdatedBy)
                        </th>
                       </tr>
                </thead>
                <tbody id="datatable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.Item)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.LastUpdate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Wish.LastUpdatedBy)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
</div>
@section scripts {
    <script>
         $(function () {
            $("#Startdate").datepicker();
            $("#Enddate").datepicker();

        }
            );
        var url = '@Url.Content("~/api/GetUser")';
        $(document).ready(function () {
            $.getJSON(url)
           .done(function (data) {
               var userlist = $('#userlist');
               $.each(data, function (key, v) {
                   userlist.append($('<option>', { value: v.ID })
                  .text(v.Name));

               })
           })
        })
        $('#datatable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 2 });
    </script>
}
