@model IEnumerable<DataModel.User>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm())
{
    <table style="width:770px">
        <tr>
            <td style="width:120px">User Name:</td>
            <td style="width:160px"><input style="width:150px" id="txtname" name="name" type="text" /></td>
            <td style="width:60px">Email:</td>
            <td style="width:160px"><input style="width:150px" id="txtemail" name="email" type="text" /></td>
            <td style="width:60px">Phone:</td>
            <td style="width:140px"><input style="width:130px" id="txtphone" name="phone" type="text" /></td>
            <td style="width:60px"><input id="btnsubmit" name="phone" type="submit" /></td>
        </tr>
    </table>
}
<br />
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" cellspacing="0" style="width:100%" id="table-pagination">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BOD)
                        </th>
                     </tr>
                </thead>
                <tbody id="datatable">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BOD)
                            </td>
                        </tr>
                    }
                    </tbody>
</table>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
</div>
@section scripts {
<script>
    $('#datatable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 2 });
</script>
}